body {
  background-color: black;
}

h1 {
    position: absolute;
    top: 380px;
    left: 350px;
    font-family: "Monaco", monospace;
    font-family: monospace;
    font-size: 100px;
    text-align: center;
    color: #b98801;
   }

#image p {
  position: absolute;
  top: 900px;
  left: 20px;
  color: #f0c245;
  height: 500px;
  width: 750px;
  font-size: 35px;
  font-family: monospace;
  text-align: justify;
}

a {
  position: absolute;
  top: 1300px;
  left: 500px;
  color: #e2a703;
  text-decoration: none;
  font-size: 40px;
  font-family: monospace;
  }
 
img {
    position: absolute;
    width: 800px;
    height: 1200px;
    object-fit: cover;
}


